body {
    background-color: thistle;
}

.modosDeJuego a {
    display: inline-block;
    background-color: white;
    color: pink;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin: 10px;
}

.modosDeJuego div{
    justify-content: center;
    display: flex;
    gap: 1rem;
    padding-top: 5rem;
}